body {
  background-image: url("../img/background.jpg");
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #fff;
}

.city_label {
  color: #fff;
  font-size: 20px;
}

.search_btn {
  background-color: #000787;
  border-color: #000787;

}

.current_temp_div {
  margin-top: 20px;
  color: #fff;
}

.sun_times {
  color: #fff;
}

.other_info {
  color: #fff;
}

.not_found {
  color: #d60a0a;
  font-size: 20px;
}
